<div class="hero">
	<div class="hero__inner">
		<h2>Business Analyst Developer</h2>
		<a href="https://docs.google.com/document/d/1CJHTvBEJyzptzfXXT9BtN8gc8SdV8LhDBMliYSAqSO8/edit?usp=sharing"
			 class="button button--cta"
			 target="_blank">Задание</a>
	</div>
</div>